<html>
	<head>
		<title>Annie's Blog</title>
	</head>
	<body>
		<div>
			<p>Portfolio: <a href="https://github.com/anniebruckner">link</a></p>
		</div>

		<div>
			<p><em>Things I like:</em>
				<ul>
					<li>Outdoor Adventures</li>
					<li>Clean Code</li>
					<li>Sustainable Design</li>
				</ul>
			</p>
		</div>

		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date}}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}

	</body>
</html>